.main-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.header {
   display: flex;
   background: #1f2937;
   justify-content: space-between; 
}

div.header {
  font-size: 24px;
  color: #f9faf8;  
}

ul {
    font-size: 18px;
    color: #e5e7eb;
}

.right-items{
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
}

.hero .left,
.hero .right {
    flex: 1;
}

img {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    background: #3882f6;
}